# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Help search functionality
Help/helpsearch-v3/*
CellBase_R2013a/Help/helpsearch-v3/_0.cfe
CellBase_R2013a/Help/helpsearch-v3/_0.cfs
CellBase_R2013a/Help/helpsearch-v3/_0.si
CellBase_R2013a/Help/helpsearch-v3/segments.gen
CellBase_R2013a/Help/helpsearch-v3/segments_1
